<div class="row container-fluid">

	<div class="col-md-8 ">

		<h1>Nova Tarefa</h1>

		<%= render 'form' %>

		<button class="btn btn-default" type="submit"><%= link_to 'Voltar', tarefas_path %></button>


	</div>

</div>