<div class="row container-fluid">
<br><br><br><br>
	<div class="col-md-8 col-md-offset-2">
		<h2>Nova Tarefa</h2>
		<%= render 'form' %>
		<%= link_to 'Voltar', tarefas_path, class: "btn btn-default" %>


	</div>

</div>