<div class="row center jumbotron">
	<h1>Sistema de Tarefas</h1>
	<h2>Este sistema permite que os usuários cadastrem tarefas do seu cotidiano.</h2>
	<%= link_to "Sing up now!", new_user_registration_path, class: "btn btn-lg btn-primary" %> 
	<%= link_to "Log in!", new_user_session_path, class: "btn btn-lg btn-primary" %> 
</div>
