<div class="row container-fluid" id="system">

    <div class="col-md-9">

    <h1> Sistema de tarefas</h1>

	</div>
	

	<div class="col-md-12">

	<p class="bg-info"> 
		Este sistema permite que os usuários cadastrem tarefas e a data em que as mesmas deverão ser realizdas. Os usuários poderão visualizar e editar suas respectivas tarefas.
		
	</p>
	
	</div>

</div>