<div class="row container-fluid" id="system">
<br><br><br><br>


	<div class="panel panel-info "> 

	        <div class="panel-heading">

	        <h5>Este sistema permite que os usuários cadastrem tarefas do seu cotidiano.</h5>
	        <td><%= timeago_tag Time.zone.now, :nojs => true, :limit => 10.days.ago %></td>

	        </div>
	</div>
</div>